<% group_by_keys(@issue.project_id, @issue.tracker_id, @issue.editable_custom_field_values).each do |title,values| %>
<% if values.present? %>
<%= content_tag('h4', title, :style => 'background: #0001; padding: 0.3em;') unless title.nil? %>
<% while values.present? %>
<div class="splitcontent">
<% if values[0].custom_field.full_width_layout? %>
<% while values.present? && values[0].custom_field.full_width_layout? %>
<% value = values.shift %>
  <p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
<% end %>
<% else %>
<% lr_values = [] %>
<% while values.present? && ! values[0].custom_field.full_width_layout? %>
<% lr_values += [ values.shift ] %>
<% end %>
<div class="splitcontentleft">
<% i = 0 %>
<% split_on = (lr_values.size / 2.0).ceil - 1 %>
<% lr_values.each do |value| %>
  <p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
<% if i == split_on %>
</div><div class="splitcontentright">
<% end %>
<% i += 1 %>
<% end %>
</div>
<% end %>
</div>
<% end %>
<% end %>
<% end %>
